:root {
    --size: 30px;
    --main-color: #C0C0C0;
    --grigio-cella: #acacac;
    --border: 4px;
}

header {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
}

select {
    width: 120px;
}

main {
    flex-grow: 1;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    border-color: #909090 #808080 #808080 #909090;
    border-width: 3px;
    border-style: solid;
}

footer {
    background-color: white;
    font-size: .8rem;
    padding: .8rem 0;
}

.viewport-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-boolean {
    height: 40px;
    vertical-align: middle;
}

.title {
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 700;
    vertical-align: middle;
}

.destra {
    font-size: .8rem;
}

.my-button {
    height: 20px;
    width: 70px;
    line-height: 10px;
    vertical-align: baseline;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.campo-minato {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    border-color: #808080 #fff #fff #808080;
    border-width: var(--border);
    border-style: solid;
}

.cella {
    height: var(--size);
    width: var(--size);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    border-color: #fff #909090 #909090 #fff;
    border-width: 3px;
    border-style: solid;
}

.cliccato {
    background-color: var(--grigio-cella);
    color: white;
    border: 1px dashed #717171;
}

.bomb-cell {
    background-image: url('../img/bomb.png');
    background-size: cover;
    background-color: red;
    border: 1px dashed #717171;
}